:root{
    --white: #fff;
    --blue: #81f5ff;
}

body{
    margin: 0;
    background-color: var(--blue);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenedorPrincipal{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
}

.contenedor1{
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: space-evenly;
    background-color: var(--white);
    border: 5px solid salmon;
    border-radius: 50%;
}

.contenedor2{
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    justify-content: space-around;
}